@import '/src/scss/color.scss';
@import '/src/scss/font.scss';
@import '/src/scss/variable.scss';

body{
            background-color: lightgray;
            margin: 20px;
            font-family: $fontfamily;
            font-weight: $fontweight;
            font-style: $fontstyle;
}

.subhead{
            text-align: center;
}

.container{
            display: flex;
            flex-direction: column;
            width: 20%;
            margin: auto;
           

    &__form{
            margin: 10px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: white;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            height: 300px;
            align-items: center;
            justify-content: center;

            
        &__input{

            padding: 20px;
            font-size: large;
        }

        &__text{

            padding: 10px;
            font-size: x-large;
        }

        &__button{

            padding: 10px;
            width: 50%;
            background-color: teal;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: large;
            border: none;
            border-radius: 10px;
            align-items: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%; 
    }
}

.subcontainer{

            background-color: white;
            border: 1px solid white;
            border-radius: 10px;
            padding: 15px;
            margin: 20px;
            float:left;
            width: 200px;
            height: 200px;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4); 

    &__head{

            margin-top: 10px;
    }

    &__para{

            margin-top: 10px;
    }

    &__button1{

            padding: 10px;
            width: 50%;
            background-color: teal;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: large;
            border: none;
            border-radius: 10px;
            align-items: center;
    }
}
@media (max-width: 768px) {
    .subcontainer {
        width: 100%; 
        margin: 10px;
    }
}